#login-dropdown-list {
    left: auto;
    right: 10px;
}

.break {
    word-break: break-all;
}

.no-break {
    white-space: nowrap;
}

.user-picture {
    box-shadow: 0 0 5px #fff;
    width: 64px;
    height: 64px;
}