.video-list.col-md-3 {
  padding: 0;
}

.video-list {
  margin-right: 1em;

  .panel-img {

    div:first-child {
      background-color: #dedede;
    }

    .time {
      margin-top: 0.5em;
    }
  }

  .info{
    h5{
      height: 27px;
      overflow: hidden;
    }
    h5::after {
      content: "...";
    }
  }

  .subscribe, .view {
    margin-top: 0.5em;
  }
}