<template name="adminLayout">
    <!-- Wrapper-->
    <div id="wrapper">
        <!-- Navigation -->
        {{> navigation }}
        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">
            <!-- Page wrapper -->
            {{> topNavbar }}
            <!-- Main view  -->
            {{> pageHeading}}
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        {{>Template.dynamic template=content}}
                    </div>
                </div>
            </div>
            <!-- Footer -->
            {{> footer }}
        </div>
        <!-- End page wrapper-->
        <!-- Right Sidebar -->
        {{> rightSidebar }}
    </div>
    <!-- End wrapper-->
</template>