<template name="accountProfilesData">
    {{> paginationTable heads=getHeads style='account-profile' pages=pages pagesNav=pagesNav}}
</template>

<template name="accountProfilesDataItem">
    <tr>
        <td class="user-info">
            <ul class="profile">
                <li>
                    <span>
                        {{> fa type='user-secret'}}
                        User info
                    </span>
                    {{> userLink userId=userId}}
                </li>
                <li>
                    <span>
                        {{> fa type='linkedin-square'}}
                        LinkedIn
                    </span>
                    <a href="{{publicProfileUrl}}">
                        <span class="label">{{formattedName}}</span>
                    </a>
                </li>
            </ul>
        </td>
        <td>{{version}}</td>
        <td>{{headline}}</td>
        <td>{{formatDate updatedAt 'short'}}</td>
        <td>
            {{> generateTo type='file-pdf-o' label='PDF' id=_id style='danger'}}
            {{> generateTo type='file-word-o' label='DOC' id=_id style='success'}}
        </td>
        <td>
            {{> generateTo type='eye' label='Preview' id=_id style='warning'}}
            {{> generateTo type='refresh' label='Refresh' id=_id style='info'}}
        </td>
    </tr>
</template>
