<template name="editAccountProfile">
    <div class="m-edit-panel-container{{isVisible show}}">
        <ul class="m-edit-panel">
            {{#if noContent content}}
                <li><label><textarea disabled>No editable content</textarea></label></li>
            {{/if}}
            {{#each content}}
                <li>
                    <label>
                        <textarea class="m-edit-text"
                                  title="{{placeholder this}}"
                                  placeholder="{{placeholder this}}">{{innerText}}</textarea>
                    </label>
                </li>
            {{/each}}
        </ul>
        {{#if content}}
            <p>
                {{#if addable}}
                    <span class="label label-success add-edit-action">Add before</span>
                    <span class="label label-success add-edit-action">Add after</span>
                {{/if}}
                <span class="label label-info update-edit-action">Update</span>
                <span class="label label-danger delete-edit-action">Delete</span>
            </p>
        {{/if}}
    </div>
</template>