<template name="rightSidebar">
    <div id="right-sidebar">
        <div class="sidebar-container">
            <ul class="nav nav-tabs navs-3">
                <li class="active"><a data-toggle="tab" href="#right-bar-notes">
                    Notes
                </a></li>
                <li><a data-toggle="tab" href="#right-bar-projects">
                    Projects
                </a></li>
                <li class=""><a data-toggle="tab" href="#right-bar-setting">
                    {{> fa type='gear'}}
                </a></li>
            </ul>
            <div class="tab-content">
                {{> rightBarNotes}}
                {{> rightBarProjects}}
                {{> rightBarSetting}}
            </div>
        </div>
    </div>
</template>