<template name="navHeader">
    <li class="nav-header">
        <div class="dropdown profile-element">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="clear">
                    <span class="block m-t-xs">
                        <strong class="font-bold">Example user</strong>
                    </span>
                    <span class="text-muted text-xs block">user <b class="caret"></b></span>
                </span>
            </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li class="divider"></li>
                <li><a href="#">Item</a></li>
            </ul>
        </div>
        <div class="logo-element">
            zCV
        </div>
    </li>
</template>