.add-template,
.add-template > * {
    cursor: pointer;
}

.add-template input {
    display: none;
}

.cv-template {
    cursor: pointer;
}

.cv-template img {
    max-width: 100px;
}

.templates-wrapper {

}