<template name="pageHeading">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <!--<h2>{{fetchCountedTitle}}</h2>-->
            <p></p>
            <ol class="breadcrumb margin-top-lg">
                <li><a href="{{home}}" title="Home">Home</a></li>
                {{#each breadcrumbs}}
                {{/each}}
                <li class="active"><strong>{{fetchTitle}}</strong></li>
            </ol>
        </div>
    </div>
</template>