<template name="iboxTools">
    <div class="ibox-tools">
        <a class="collapse-link">
            {{> fa type='chevron-up'}}
        </a>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            {{> fa type='wrench'}}
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a href="#">Config option 1</a>
            </li>
            <li><a href="#">Config option 2</a>
            </li>
        </ul>
        <a class="close-link">
            {{> fa type='times'}}
        </a>
    </div>
</template>