<template name="cvContactInfo">
    <div class="m-panel m-panel-left">
        <h3 class="m-txt-title">Contact Information</h3>
        <div class="m-content">
            <span class="m-content-title"><b>Email</b></span>
            <span class="m-content-content m-content-mail">{{emailAddress}}</span>
        </div>
        <div class="m-content">
            <span class="m-content-title"><b> Address </b></span>
            <span class="m-content-content">{{address}}</span>
        </div>
        <div class="m-content">
            <span class="m-content-title"><b> Phone </b></span>
            <span class="m-content-content"> 212 635-3564 </span>
        </div>
    </div>
</template>