<template name="cvContactInfo">
    <div data-reference="{{title}}" class="m-panel m-panel-left">
        <h3 class="m-txt-title">{{title}}</h3>
        <div class="m-editable-panel">
            {{#each items}}
                <div class="m-content">
                    <span class="m-content-title">{{label}}</span>
                    <span class="m-content-content {{css}}"
                          data-label="{{label}}"
                          data-store="{{store}}"
                          data-edit="true">{{data}}</span>
                </div>
            {{/each}}
        </div>
    </div>
</template>