<template name="cvExperience">
    <div class="m-panel">
        <h3 class="m-txt-title">{{title}}</h3>
        {{#each positions}}
            <div data-reference="Experience-{{@index}}" class="m-layout-3-3 m-panel-child m-editable-panel"
                 data-add="true">
                <div class="m-layout-1-3">
                    <input type="hidden"
                           data-type="checkbox"
                           data-label="Is current job?"
                           data-reference="positions.isCurrent"
                           data-edit="true"
                           value="{{isCurrent}}"/>
                    <span class="m-txt-subtitle"
                          data-label="Company name"
                          data-type="text"
                          data-reference="positions.company.name"
                          data-edit="true"><b>{{company.name}}</b></span>
                    <span class="m-txt-subtitle"
                          data-label="Location"
                          data-type="text"
                          data-reference="positions.location.name"
                          data-edit="true">{{location.name}}</span>
                    <span class="m-txt-subtitle"
                          data-type="month"
                          data-label="Start date"
                          data-reference="positions.startDate.month|positions.startDate.year"
                          data-edit="true">{{startDate.month}}/{{startDate.year}}</span>
                    {{#unless isCurrent}}
                        <span class="m-txt-subtitle"
                              data-type="month"
                              data-label="End date"
                              data-reference="positions.endDate.month|positions.endDate.year"
                              data-edit="true">{{endDate.month}}/{{endDate.year}}</span>
                    {{/unless}}
                </div>
                <div class="m-steps-ball">
                    <div class="m-steps-ball-ball"></div>
                </div>
                <div class="m-layout-2-3">
                    <h4 class="m-txt-title-second"
                        data-label="Title"
                        data-type="text"
                        data-edit="true">{{title}}</h4>
                    <div class="m-txt-p"
                         data-label="Summary"
                         data-type="textarea"
                         data-edit="true">{{summary}}</div>
                </div>
            </div>
        {{/each}}
    </div>
</template>