<template name="cvExperience">
    <div class="m-panel" id="work-experience">
        <h3 class="m-txt-title">Experience</h3>
        <div class="m-layout-3-3 m-panel-child" data-subsection-position="0">
            {{#each positions}}
                <div class="m-layout-1-3">
                    <span class="m-txt-subtitle"><b>{{company.name}}</b></span>
                    <span class="m-txt-subtitle">{{location.name}}</span>
                    <span class="m-txt-subtitle">{{startDate.month}}/{{startDate.year}}</span>
                </div>
                <div class="m-steps-ball">
                    <div class="m-steps-ball-ball"></div>
                </div>
                <div class="m-layout-2-3">
                    <h4 class="m-txt-title-second">{{title}}</h4>
                    <div class="m-txt-p">{{summary}}</div>
                </div>
            {{/each}}
        </div>
    </div>
</template>