<template name="cvPreview">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:100,700" rel="stylesheet">
    <div class="cv-container">
        <table>
            <tbody>
            <tr>
                <td class="m-layout-left-container">
                    <div class="m-layout-left">
                        <div class="m-layout-bg">
                            {{> cvContactInfo title="Contact Information" items=contactInfoData }}
                            {{> cvSkills profile }}
                        </div>
                    </div>
                </td>
                <td class="m-layout-right-container">
                    {{> cvHeadline name=profile.formattedName summary=profile.summary }}
                    {{> cvExperience title="Experience" positions=profile.positions.values }}
                    {{> cvEducation profile }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    {{> editAccountProfile }}
</template>